




.gradient-background {
  background: linear-gradient(45deg, #ff8a00, #e52e71);
  animation: gradientAnimation 5s infinite alternate; /* Adjust the duration and other animation properties as needed */
  min-height: 100vh;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


.text-white {
  color: white;
}
